/* add your variables here */
$LightGrey: #CCC8C5;
$Slate: #3C4E5C;
$Rose: #B88187;
$Peach: #D9B19A;
$Blue: #547C86;
$Purple: #524451;
$Cream: #FFFBE5;

body {
	font-family: 'Raleway', sans-serif;
	background-color: $Cream;
	color: #333;
}


/* Destroy Boorstrap's ugly button settings */
.btn.active.focus,
	.btn.active:focus,
	.btn.focus,
	.btn.focus:active,
	.btn:active:focus,
	.btn:focus {
		font-color: #333;
		outline: 0 !important;
		outline-offset: 0  !important;
		background-image: none  !important;
		box-shadow: 0 0 8px $LightGrey !important;
}

.btn-graphic {
	padding: 0 3px;
	background-color: none;
	border: none;

	& p {
		margin: 0;
		padding: 0;
		font-weight: 600;
		}

	&:hover{
		cursor: pointer;
	}
}


header {
	width: 100%;
	padding: 30px 0;
	margin: 0;
	text-align: center;

	& h1 {
		display: inline-block;
		text-align: center;
	}

	& #new-list-btn {
		display: inline-block;
		font-size: 3em;
		padding: 10px;
		margin: 0;
		margin-left: 40px;
		margin-top: -15px;
		line-height: .5;
		background-color: #333;
		border: none;
	}

	& #new-list-btn:hover {
		background-color: $Purple;
	}
}/*end of header styles*/

/*create list form styles*/
.create-list-form {
	background-color: $Blue;
	color: #fff;
	margin: 20px;
	padding: 30px;
	border: 2px dotted $LightGrey;
	border-radius: 3px;

	& input:focus, & select:focus, & input:hover, & select:hover {
		box-shadow: none;
		border: 2px solid $Purple;
	}

	& .btn-primary {
		color: #333;
		font-weight: 600;
		margin-top: 30px;
		background-color: $Peach;
		border: 1px solid #333;
		margin-right: 20px;
		
		&:focus:active, &:hover {
			border-color: #333;
			color: #333;
			background-color: $Cream;
		}
	}

	& .btn-secondary {
		color: #333;
		font-weight: 600;
		font-style: italic;
		background-color: #eee;

		&:hover {
			background-color: $Peach;
		}
	}

	& .title-label {
	 	margin: 20px 0 0;
	 	font-weight: 600;
	 	font-size: 1.2em;
	 	display: block;
 	}

	& .list-input { 
		position: relative;

		& .custom-button {
			padding: 0 5px;
			position: absolute;
			right: 0;
			top: 0;
			font-weight: 600;
			font-size: .8em;
			margin: 0;
			border: none;
			background-color: #eee;
			border-radius: 3px;
			transition: background-color .5s ease;

			&:hover{
				background-color: $Peach;
				cursor: pointer;
			}
		}

		& input {
			padding-right: 20px;
		}
	}
} /*end of create list form styles*/


/*Todo Lists*/
.todo-list {
	margin: 0;
	padding: 20px;
	border: 1px solid #333;
	border-radius: 6px;
	display: inline-block;

	&.today {
		background-color: $Slate;
		color: #eee;
	}

	&.this-week{
		background-color: $Purple;
		color: #eee;
	}

	&.this-month{
		background-color: $Peach;
	}

	&.eventually{
		background-color: $Rose;
		border: 1px solid #333;

		& h2 {
			font-size: 1.5em;
			font-weight: 600;
		}
	}

	& .todo-list-header {
		& button {
			opacity: 0;
			width: 30px;
			height: 30px;
			font-size: 1.5em;
			float: right;
			margin-left: 10px;

			& p {
				margin-top: -2px;
			}
		}
	
		&:hover {
			& button {
				opacity: 1;
			}
		}
	}


	& .list-group-item {
		background-color: transparent;
		
		&.true {
			text-decoration: line-through;
		}
	
		&:hover {
			cursor: pointer;
		}
	}
}/* end of todo lists styles */

 







