/* add your variables here */

body {
	font-family: 'Raleway', sans-serif;
	background-color: #FFFBE5;
	color: #333;
}


/* Destroy Boorstrap's ugly button settings */
.btn.active.focus,
	.btn.active:focus,
	.btn.focus,
	.btn.focus:active,
	.btn:active:focus,
	.btn:focus {
		font-color: #333;
		outline: 0 !important;
		outline-offset: 0  !important;
		background-image: none  !important;
		box-shadow: 0 0 8px #CCC8C5 !important;
}

.btn-graphic {
	padding: 0 3px;
	background-color: none;
	border: none;
}

.btn-graphic p {
		margin: 0;
		padding: 0;
		font-weight: 600;
		}

.btn-graphic:hover{
		cursor: pointer;
	}


header {
	width: 100%;
	padding: 30px 0;
	margin: 0;
	text-align: center;
}


header h1 {
		display: inline-block;
		text-align: center;
	}


header #new-list-btn {
		display: inline-block;
		font-size: 3em;
		padding: 10px;
		margin: 0;
		margin-left: 40px;
		margin-top: -15px;
		line-height: .5;
		background-color: #333;
		border: none;
	}


header #new-list-btn:hover {
		background-color: #524451;
	}/*end of header styles*/

/*create list form styles*/
.create-list-form {
	background-color: #547C86;
	color: #fff;
	margin: 20px;
	padding: 30px;
	border: 2px dotted #CCC8C5;
	border-radius: 3px;
}
.create-list-form input:focus, .create-list-form select:focus, .create-list-form input:hover, .create-list-form select:hover {
		box-shadow: none;
		border: 2px solid #524451;
	}
.create-list-form .btn-primary {
		color: #333;
		font-weight: 600;
		margin-top: 30px;
		background-color: #D9B19A;
		border: 1px solid #333;
		margin-right: 20px;
	}
.create-list-form .btn-primary:focus:active, .create-list-form .btn-primary:hover {
			border-color: #333;
			color: #333;
			background-color: #FFFBE5;
		}
.create-list-form .btn-secondary {
		color: #333;
		font-weight: 600;
		font-style: italic;
		background-color: #eee;
	}
.create-list-form .btn-secondary:hover {
			background-color: #D9B19A;
		}
.create-list-form .title-label {
	 	margin: 20px 0 0;
	 	font-weight: 600;
	 	font-size: 1.2em;
	 	display: block;
 	}
.create-list-form .list-input { 
		position: relative;
	}
.create-list-form .list-input .custom-button {
			padding: 0 5px;
			position: absolute;
			right: 0;
			top: 0;
			font-weight: 600;
			font-size: .8em;
			margin: 0;
			border: none;
			background-color: #eee;
			border-radius: 3px;
			transition: background-color .5s ease;
		}
.create-list-form .list-input .custom-button:hover{
				background-color: #D9B19A;
				cursor: pointer;
			}
.create-list-form .list-input input {
			padding-right: 20px;
		} /*end of create list form styles*/


/*Todo Lists*/

#all-lists {
	display: grid;
	grid-column-gap: 0;
	grid-template-columns: 25% 25% 25% 25%;
}

@media (max-width: 1000px) {
	#all-lists {
		grid-template-columns: 33% 33% 33%;
	}
}

@media (max-width: 800px) {
	#all-lists {
		grid-template-columns: 50% 50%;
	}
}

@media (max-width: 600px) {
	#all-lists {
	display: block;
	}
}

.todo-list {
	margin: 0;
	padding: 20px;
	border: 1px solid #333;
}

.todo-list.priority1 {
		background-color: #3C4E5C;
		color: #eee;
		font-size: 130%;
		grid-column: span 2;
		grid-row: span 2;
	}

.todo-list.priority1 h2 {
			font-size: 2em;
		}

.todo-list.priority2{
		background-color: #524451;
		color: #eee;
		font-size: 110%;
		grid-row: span 2;
	}

.todo-list.priority3{
		background-color: #D9B19A;
	}

.todo-list.priority4{
		background-color: #B88187;
		border: 1px solid #333;
		font-size: 90%;
	}

.todo-list.priority4 h2 {
			font-size: 1.8em;
		}

.todo-list .todo-list-header button {
			font-size: 100% !important;
			opacity: 0;
			width: 30px;
			height: 30px;
			float: right;
			margin-left: 10px;
		}

.todo-list .todo-list-header:hover button {
				opacity: 1;
			}

.todo-list .list-group-item {
		background-color: transparent;
	}

.todo-list .list-group-item.true {
			text-decoration: line-through;
		}

.todo-list .list-group-item:hover {
			cursor: pointer;
		}/* end of todo lists styles */

 







